html {
    /* font-size: 16.66667px; */
    font-family: "Lato", sans-serif;
    /* font-family: var(--font-base, "Lato", sans-serif); */
    line-height: 1.6;
    font-stretch: expanded;
}


:root {
    /* CSS TAMAÑOS */
    --h1: 2.98598rem;
    --h2: 2.48832rem;
    --h3: 2.0736rem;
    --h4: 1.728rem;
    --bodyfont: 1rem;
    --smallfont: 13px;
    --fontweight5: 500;
    --fontweight7: 700;
    --fontweight27: 2700;


    /* CSS HEX */
    --delft-blue: #233252ff;
    --delft-bluelight: rgba(35, 50, 82, 0.5);
    --black-olive: #3a3e3bff;
    --black-olivelight: rgba(35, 38, 36, 0.878);
    --sea-green: #35845dff;
    --cambridge-blue: #98bfacff;
    --alice-blue: #eef4f7ff;
    --antiflash-white: #f4f4f6ff;
    --seasalt: #fafafbff;
}

body {
    font-family: "Lato" , sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--seasalt);
    margin: 0;
    padding: 0;
    font-stretch: expanded;
}

h1 {
    margin: 21.3px 0; /* Márgenes para pantallas pequeñas */
    position: relative;
}

h2 {
    margin: 21.3px 0; /* Márgenes para pantallas pequeñas */
}

.part2 {
    display: none;
}

.contact-button{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Media query para pantallas con un ancho superior a 500px */
@media (min-width: 501px) {

    h1 {margin: 32px auto;
        text-align: left;
    }

    .part1::after {
        content: '';
        display: block;
    }

    h2 {
        margin: 32px auto; 
        text-align: left; 
    }
}

@media (max-width: 500px) {

    h1 {margin: 32px auto;
        text-align: left;
    }

    h2 {
        margin: 32px auto; 
        text-align: left; 
    }
}

/* Sección 1 */
.section1 {
    
    padding: 20px;
}

.section1 h1 {
    color: var(--delft-blue);
    font-size: var(--h1);
    font-stretch: expanded;
}

.section1 .subtitle {
    color: var(--delft-blue);
    font-size: var(--bodyfont);
    margin: 20px 0;
}

.section1 .contact-button {
    padding: 10px 20px;
    background-color: var(--delft-blue);
    color: var(--seasalt);
    font-size: var(--bodyfont);
    text-decoration: none;
    border-radius: 50px;
}

/* Sección 2 */
.section2 {
    background-color: var(--delft-blue);
    color: var(--seasalt);
    padding: 20px;
}

.section2 h2 {
    color: var(--antiflash-white);
    font-size: var(--h2);
}

.service {
    margin: 20px 0;
    text-align: center;
}

.service img {
    width: 150px;
    height: auto;
    text-align: center;
}

.service h3 {
    text-align: left;
    color: var(--antiflash-white);
    font-size: var(--h3);
}

.service-description {
    text-align: left;
    color: var(--seasalt);
    font-size: var(--smallfont);
}

/* Sección 3 */
.section3 {
    background-color: var(--alice-blue);
    padding: 20px;
    font-weight: var(--fontweight27)
}

.section3 h2 {
    font-size: var(--h2);
    color: var(--sea-green);
    font-weight: var(--h1);
    font-stretch: expanded;
}

.section3 p{
    color: var(--black-olive);
    font-size: var(--bodyfont);
    font-weight: bold;
}

.section3 h3 {
    font-size: var(--h3);
    color: var(--sea-green);
    font-size: var(--h2);
    font-weight: bolder;
}


/* Sección 4 */
.section4 {
    background-color: var(--delft-blue);
    color: var(--antiflash-white);
    padding: 20px;
}

.section4 h4 {
    display: flex;
    font-size: var(--h4);
}

.section4 p {
    font-size: var(--bodyfont);
    margin: 20px 0;
}

.section4 .connect-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--antiflash-white);
    color: var(--delft-blue);
    font-size: var(--bodyfont);
    text-decoration: none;
    border-radius: 50px;
    
}

.section5 {
    position: relative;
    background-image: url(/images/auditorium-benches-chairs-207691-1-1.jpg); 
    background-size: cover; /* Hace que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    padding: 20px;
}

.section5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-olivelight); /* Color azul con 50% de opacidad */
    z-index: 1;
}

.section5 > * {
    position: relative;
    z-index: 2;
}

.section5 h2{
    font-size: var(--h2);
    color: var(--alice-blue);
    font-stretch: expanded;
}

.section5 h4{
    font-size: var(--h3);
    color: var(--sea-green);
    font-stretch: expanded;
}